*{
    cursor: pointer;
    box-sizing: border-box;
}

body{
    width: 1280px;
    height: 500px;
    background: #3d3b36 ;
    /* background-image: url(../img/cat.png);
    background-repeat: no-repeat;
    transition: -5; */
   

    font-family: 'Merriweather', serif;
    font-size: 17px;
    
   
}

.navi{
    width: 1300px;
    height: 70px;
    background-color: rgb(156, 88, 88);
    transition: 0.5;
    
    
}

a{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    padding: 20px;
    margin: 2px;
    /* border: 1px solid black; */
    border-left: 1px solid black;
    transition: 0.1;
    text-align: center;

    float: right;
    color: black;
    
}



a:hover{
    background-color: black;
    color: white;
    transform: scale(1);
}

/* .parentofslides{
   width: 900px;
   height: 450px;
   background-color:  rgb(100, 97, 97);

   position: relative;
   left: 150px;
   top: 50px;

} */

.fade{
    width: 900px;
    height: 450px;
    background-color:  rgb(100, 97, 97);
 
    position: relative;
    left: 150px;
    top: 50px;
 
 }




.img1{
    width:200px;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.img2{
    width: 200px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.img3{
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.img4{
    position: absolute;
    right: 10px;
    top: 10px;
}

.img5{
    width: 200px;
    position: absolute;
    left: 0px;
    top: 200px;
}

.img6{
    width: 200px;
    position: absolute;
    left: 700px;
    top: 10px;
}


p{  width: 400px;
    position: absolute;
    left: 110px;
    top: 50px;
    font-size: 20px;
    
    animation-name: myani;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}

.p2{
    width: 500px;
    position: relative;
    left: 120px;
    top: 120px;
    font-size: 20px;
}

.p3{
    /* width: 600px; */
    
    position: absolute;
    left: 500px;
    top: 300px;

    font-size: 15px;

}

/* @keyframes myani {
    from{
        color: rgb(179, 84, 84);
    }

    to{
        color: cadetblue;
    }
} */

span{
    max-width: 400px;
    position: absolute;
    left: 120px;
    top: 80px;

}



.span2{
    width: 400px;
    height: 250px;

    position: absolute ;
    left: 230px;
    top: 100px;

}





/* for text  */
.span1{
    width: 400px;
    height: 250px;
    position: absolute ;
    left: 230px;
    top: 100px;
}
.span2{
    width: 400px;
    height: 250px;
    position: absolute ;
    left: 230px;
    top: 100px;
}

.span3{
    width: 400px;
    height: 250px;

    position: absolute ;
    left: 230px;
    top: 100px;

}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    left:  860px;
    border-radius: 3px 0 0 3px;
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }














@media only screen and (max-width:600px){
    body{
        width:450px;

    }

    a{
        padding: 10px;
        margin: 1px;
        /* border: 1px solid black; */
        transition: 0.1;
    
        float: right;
        color: black;
        
    }

    .navi{
        width: 100%;
        height:50px;
        background-color: rgb(156, 88, 88);
        transition: 0.5;
        
        
    }

      .parentofslides{
        width: 99%;
        /* height: 450px; */
        /* background-color:  rgb(100, 97, 97); */
     
        position: relative;
        left: 0px;
        top: 30px; 
      }

      .img1,
      .img2,
      .img3,
      .img4,
      .img5,
      .img6{
          width: 100px;
      }

      .span3{
        width: 200px;
        height: 150px;
    
        position: absolute ;
        left: 0px;
        top: 100px;
    
    }
}
